
@{
    ViewData["Title"] = "Home Page";
}
@model Groce.Models.Groceries


<!-- ======= Intro Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>Groce</span></h1>
                <h2>Your new favourite shopping helper!</h2>

                <div class="btns">
                    <a href="#search" class="btn-menu animated fadeInUp scrollto" style="text-decoration: none;">Search</a>
                    <a href="#shopping-list" class="btn-book animated fadeInUp scrollto" style="text-decoration: none;">Shopping List</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Intro -->


<!-- ======= Shopping List Section ======= -->
<section id="shopping-list" class="book-a-table list-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">

            <h2 style="color: #cda45e">Grocery</h2>
            <p>Shopping List</p>
        </div>

        <div class="table-list">
            <table style="width:100%; background-color: white; opacity: 0.6; overflow: auto;">

                @if (null != ViewBag.ShoppingListItems && ViewBag.ShoppingListItems.Count > 0)
                {
                    <tr class="table-head">
                        <th> Description</th>
                        <th>Price</th>
                    </tr>

                    decimal totalPrice = 0;

                    System.Globalization.TextInfo myTI = new System.Globalization.CultureInfo("en-US", false).TextInfo;
                    foreach (List<Object> obj in ViewBag.ShoppingListItems)
                    {
                        totalPrice += (decimal)obj[1];
                        String price = "R" + obj[1].ToString();
                        <tr>
                            <td style="padding-left: 5px">
                                <input type="checkbox" class="custom-control-input" id="i" style="padding-right: 5px" />
                                @myTI.ToTitleCase(obj[0].ToString()) &nbsp; &ndash; &nbsp; @obj[2].ToString()
                            </td>
                            <td>@price</td>
                        </tr>
                    }

                    String total = "R" + totalPrice.ToString();

                    <tr style="background-color: #7a7777">
                        <td style="padding-left: 5px"></td>
                        <td></td>
                    </tr>
                    <tr style="font-family:  Poppins, sans-serif; font-weight: 500;">
                        <td style="padding-left: 5px">Total:</td>
                        <td>@total</td>
                    </tr>
                }
                else
                {
                    <tr class="table-head">
                        <th style="text-align: center; font-weight: 400; color: black; font-size: 18px;">Search to add items to shopping.</th>
                    </tr>
                }

            </table>
        </div>
    </div>
</section><!-- End Shopping List Section -->


<!-- ======= Search Section ======= -->
<section id="search" class="menu section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Search</h2>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <form asp-controller="Home" asp-action="" method="post">
                @Html.TextBoxFor(x => x.GroceryName, new { placeholder = "Type to search item...", value = "0", id = "search-box", style = "width: 90%; height: 40px; display: flex; flex-flow: row wrap; vertical-align: middle; border: 2px solid #cda45e; border-radius: 10px;" })
                <button class="fuck" style="width: 10%; display: flex; flex-flow: row wrap; background-color:transparent;  letter-spacing: 0.5px; text-transform: uppercase; background: rgb(122, 119, 119); color:white; display: flex; flex-flow: row wrap; border: 2px solid #cda45e; border-radius: 50px; font-weight: 600; font-size: 14px; line-height: 1; padding: 12px 30px; "type="submit">Search</button>
            </form>
        </div>
        <br />
        <div class="product" style=" background-color: rgba(255, 255, 255, 0.2);  height: 160px; width: 60%; border-radius: 3px; opacity: 0.7; margin: auto;">
            <div class="product-price" style="text-align: center; margin: auto;">
                <p style="margin: 5px; font-weight: 600;">PRICING</p>
                <div style="display: flex; justify-content: space-between; margin-left: 30px; margin-right: 30px;">

                    @{ 
                        System.Globalization.TextInfo myTI2 = new System.Globalization.CultureInfo("en-US", false).TextInfo;
                        String name = ViewData["Name"] != null ? myTI2.ToTitleCase((String)ViewData["Name"]) + " " : "";

                    <div style="width: 33%;  height: 100px; background-color: #e8bc72; float: left;">

                        <p style="margin: 5px; font-weight: 600; font-variant: small-caps;">WOOLWORTHS</p>
                        @name &nbsp;  Price
                        <p style="margin: 5px;">R @ViewData["Price1"]</p>
                    </div>
                    <div style="width: 34%;  height: 100px; background-color: wheat; float: left;">
                        <p style="margin: 5px; font-weight: 600; font-variant: small-caps;">CHECKERS</p>
                        @name &nbsp; Price
                        <p style="margin: 5px;">R @ViewData["Price2"]</p>
                    </div>
                    <div style="width: 33%;  height: 100px; background-color: #e0d1b6; float: left;">
                        <p style="margin: 5px; font-weight: 600; font-variant: small-caps;">SHOPRITE</p>
                        @name &nbsp; Price
                        <p style="margin: 5px;">R @ViewData["Price3"]</p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section><!-- End Search Section -->


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                <div class="about-img" style="background: rgba(0, 0, 0, 0.2)">
                    <img src="~/assets/img/about2.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="color: white; font-family: Playfair Display, serif">
                <h3>This is our About section!</h3>
                <p class="fst-italic">
                    There is a lot that goes into an about section. Quite a lot actually, so much so that sometimes these things get pretty long.
                    But in this about section we really want you to get to know us, even if that means things will get long... very long.
                    Here's a few things to know:
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> This was our BBD group project.</li>
                    <li><i class="bi bi-check-circle"></i> This was a team project and was done as a team.</li>
                    <li><i class="bi bi-check-circle"></i> We enjoyed doing this project een when things got difficult.</li>
                </ul>
                <p>
                    Now that you have read our about page, you should really take the time to look at everything else our web application
                    has to offer! Try out a few buttons, maybe do a search, or mess around with a shopping list. Thank you for reading this
                    whole about section. Goodluck!
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
